header{
   
    position: fixed;
    width:100%;
    top:0;  
    left:0;
    /* background-color: red; */
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo-docplanner {
    width: 268px;
    height: 33px;
    
}



.main-menu {
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0
}
/* .main-nav {
    position: relative;
    float: right
} */
.main-menu a {
    color: #ababab;
    display: flex;
    text-decoration: none;
    padding: 0 .6em
}
.dropdown-content {
    display: none;
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    margin-left: -100px;
    background: #fff;
    top:45px
    /* box-shadow: 0 5px 10px 0 #d3cfc9; */
    /* z-index: 1 */
}
ul{
    display: flex;
    justify-content: space-around;
    width:30%
    
}

ul a {
    text-decoration: none;
    color:white;
    font-size:15px
}

.lead{
    margin-top: 100px;
    /* background-color: gray; */
  text-align: center;
}
.grid{
    display: flex;
    justify-content: space-around;
}
.co{
    width:50%
}

.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-flex
}



.dropdown-content a,
.dropdown-content li {
    display: flex;
    /* flex-direction: column; */
    width: 60%
}

.dropdown-content a {
    color: #747474;
    line-height: 120%;
    padding: 12px 16px !important;
    text-decoration: none;
    display:flex;
    /* flex-direction: column; */
}

.dropdown:hover .dropdown-content a:hover {
    background-color: #f6f8f8;
    display:flex;
    /* flex-direction: column; */
}

.dropdown:hover .dropdown-content {
    display:flex;
    /* flex-direction: column; */
}
h1 {
    font-size: 2.125rem;
    color: #00b39b;
    font-family: Roboto,Arial,sans-serif;
    margin-block-end:34px;
    margin-block-start: 34px;
    margin-bottom: 34px;
    margin-inline-end :0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 34px;
    text-align: center;
    text-size-adjust: 100%;
    

}
h1, h2, h3, h4 {
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

::selection {
    background: #00b39b;
    color: #fff;
    text-shadow: none;
}
.grid:after, .grid:before {
    content: "";
    display: table;
    clear: both;
}
body {
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}
.services__item {
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
}
.services__item--marketplace {
    background: #00ccb1;
}
*, :after, :before {
    box-sizing: inherit;
}

.grid {
    margin: 0 -10px;
}
.services__item--marketplace {
    background: #00ccb1;
}

services section__inner{
-webkit-text-size-adjust: 100%;
font-size: 16px;
line-height: 1.3;
font-weight: 400;
font-family: Roboto,Arial,sans-serif;
color: #747474;
-webkit-font-smoothing: antialiased;
box-sizing: inherit;
display: block;
zoom: 1;
max-width: 1015px;
padding: 0 20px;
position: relative;
margin: 3.75rem auto 2.5rem;
}
.grid fade-elements {
-webkit-text-size-adjust: 100%;
font-size: 16px;
line-height: 1.3;
font-weight: 400;
font-family: Roboto,Arial,sans-serif;
color: #747474;
-webkit-font-smoothing: antialiased;
box-sizing: inherit;
margin: 0 -10px;
}

.col-3 fade-elements__visible {
-webkit-text-size-adjust: 100%;
font-size: 16px;
line-height: 1.3;
font-weight: 400;
font-family: Roboto,Arial,sans-serif;
color: #747474;
-webkit-font-smoothing: antialiased;
box-sizing: inherit;
float: left;
min-height: 1px;
padding: 10px;
width: 33.33%;
transition: all .35s ease 0s;
transform: translate(0);
opacity: 1;
box-sizing: border-box;
color:rgb(116, 116, 116);
display: block;
float: left;

height:365px;
line-height :20.8px;
min-height: 1px;

padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top :10px;
text-size-adjust: 100%;
transform :matrix(1, 0, 0, 1, 0, 0);
transition-delay: 0s;
transition-duration: 0.35s;
transition-property :all;
transition-timing-function: ease;
width: 331.625px;
-webkit-font-smoothing: antialiased


}







services__item services__item--marketplace{
-webkit-text-size-adjust: 100%;
font-size: 16px;
line-height: 1.3;
font-weight: 400;
font-family: Roboto,Arial,sans-serif;
color: #747474;
-webkit-font-smoothing: antialiased;
box-sizing: inherit;
border-radius: 10px;
padding: 2em 2em 0;
overflow: hidden;
height: 345px;
display: flex;
flex-direction: column;
justify-content: space-between;
transition: all .2s ease 0s;
background: #00ccb1;
}

.services__item {
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
}

.services__item--saas {
    background: #3d83df;
}

.col-3 {
    width: 33.33%;
}

.fade-elements>.fade-elements__visible {
    transform: translate(0);
    opacity: 1;
}

.services {
    margin: 3.75rem auto 2.5rem;
}

services__item services__item--saas{
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
    background: #3d83df;
}

.services__item services__item--clinics{

-webkit-text-size-adjust: 100%;
font-size: 16px;
line-height: 1.3;
font-weight: 400;
font-family: Roboto,Arial,sans-serif;
color: #747474;
-webkit-font-smoothing: antialiased;
box-sizing: inherit;
border-radius: 10px;
padding: 2em 2em 0;
overflow: hidden;
height: 345px;
display: flex;
flex-direction: column;
justify-content: space-between;
transition: all .2s ease 0s;
background: #1b2734;

}
.co,p{
    padding-left: 9%;
    padding-right: 9%;
    text-align: left;
}

.services__item--clinics {
    background: #1b2734;
}
.services__item {
    border-radius: 10px;
    /* padding: 2em 2em 0; */
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
    padding-left: 35%;
    padding-right: 35%;
}

.services__item h2 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
    font-family: Work Sans,Arial,sans-serif;
    letter-spacing: -.3px;

}

[class*=col-] {
    float: left;
    min-height: 1px;
    padding: 10px;
}



/* .main-menu a:hover {
    color: #00b39b
}
.main-menu li {
    display: inline-flex;
   
} */

/* .dropdown-list{
    display:none;
    position:absolute;
    top:45px;
} */


/* }
.container {
    display: flex;  

    
}



}





.main-menu li {
    display: inline-flex;
   
}
.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-flex
}



.dropdown-content a,
.dropdown-content li {
    display: block;
    width: 100%
}

.dropdown-content a {
    color: #747474;
    line-height: 120%;
    padding: 12px 16px !important;
    text-decoration: none;
    display: flex
}

.dropdown:hover .dropdown-content a:hover {
    background-color: #f6f8f8
}

.dropdown:hover .dropdown-content {
    display: flex
}

*, :after, :before {
    box-sizing: inherit;
}
.lead__logo {
    display: flex;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}

img {
    border: 0;
}
.grid {
    margin: 0 -10px;
}
*, :after, :before {
    box-sizing: inherit;
}

user agent stylesheet
div {
    display: flex;
}
.col-2 {
    width: 50%;
}
[class*=col-] {
    float: left;
    min-height: 1px;
    padding: 10px;
}
.grid:after, .grid:before {
    content: "";
    display: table;
    clear: both;
}

*, :after, :before {
    box-sizing: inherit;
} */


